* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
}

torso {
    position: relative;
    display: flex;
    justify-content: center;
    outline: 0.1rem solid black;
    width: 20rem;
    height: 10rem;
}

.torso-joint {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: end;
    background-color: aqua;
    outline: 0.1rem solid black;
    width: 80%;
    height: 10%;
}

joint {
    display: flex;
    justify-content: center;
    /* animation: spin 10s linear infinite; */
}

upper-leg {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: gray;
    outline: 0.1rem solid black;
    width: 2rem;
    height: 7rem;
}

lower-leg {
    position: absolute;
    /* top: 100%; */
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: pink;
    outline: 0.1rem solid black;
    width: 2rem;
    height: 7rem;
}

.target {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: red;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.at-at {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
